/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* .page.theme_dark {
  --nav-bar-color:rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --description-text-color:#F1B2CE;
}  */
/* :root {
  --accent-color: rgba(255, 0, 112, 1);
  --description-text-color:#F1B2CE;
} */
