.page.theme_dark {
  --nav-bar-color: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --description-text-color: #f1b2ce;
  --h1-title-color: #db00ff;
  --background-color-page: rgba(0, 0, 40, 1);
  --nav-bar-color-hover: #ff007066;
}

.page.theme_dark .decorated-zone {
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .page.theme_light .header__rec {
  display: none;
} */

/* .page.theme_light .circle__header {
  display: none;
}

.page.theme_light .header__rec__container {
  position: absolute;
  top: 20px;
  right: 20px;
  align-items: top;
  justify-content: right;
  border-top: 1px solid var(--nav-bar-color);
  border-right: 1px solid var(--nav-bar-color);
}

.page.theme_light .circle__container__header {
  border: none;
  margin: 17px 13px 5px 5px;
} */
