:root {
  --nav-bar-color: #353430;
  --accent-color: #ff8dcb;
  --description-text-color: #353430;
  --h1-title-color: #ffc2e6;
  --background-color-page: #fff1f7;
  --nav-bar-color-hover: #32312d66;
}
